[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "==3.0.0b19"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
